version: '3.9'

services:
  frontend:
    container_name: front-end
    build: ./src/front-end
    ports:
      - 3000:3000
    restart: on-failure
    networks:
      - frontend
    healthcheck:
      test: ["CMD", "curl", "localhost:3000"]
      interval: 2s
      timeout: 5s
      retries: 5
    depends_on:
      backend:
        condition: service_healthy
        

  backend:
    container_name: back-end
    build: ./src/back-end
    environment:
      - BACKEND_PORT=3001
    ports:
      - 3001:3001
    restart: on-failure
    networks:
      - frontend
      - backend
    healthcheck:
      test: ["CMD", "curl", "localhost:3001"]
      interval: 2s
      timeout: 5s
      retries: 5
    depends_on:
      database:
        condition: service_healthy
  
  database:
    container_name: database
    image: mongo:6.0.4
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGOUSER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGOPASSWORD}
    networks:
      - backend
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand({ ping: 1 })", "--quiet"]
      interval: 2s
      timeout: 5s
      retries: 5

networks:
  frontend:
  backend: